/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-light {
  --mine-title-weight: 700;
  --mine-text-weight: 400;
  --mine-color: rgba(0, 0, 0, 1);
  --accent-color: rgba(0, 0, 0, 1);
  --bg-color: rgba(255, 255, 255, 1);
  --bg: repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
  --label-color: rgba(0, 0, 0, 1);
  --label-border: rgba(255, 255, 255, 1);
  --button-text: rgba(255, 255, 255, 1);
  --color-contour: rgba(0, 0, 0, 1);
}

:root.theme-dark {
  --mine-title-weight: 785;
  --mine-text-weight: 465;
  --mine-color: rgba(0, 204, 20, 1);
  --accent-color: rgba(0, 204, 20, 1);
  --bg-color: rgba(0, 0, 0, 1);
  --bg: repeating-linear-gradient(to right, #000 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #000 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #007f0c 0%, #004306 100%);
  --label-color: rgba(0, 204, 20, 1);
  --label-border: rgba(0, 0, 0, 1);
  --button-text: rgba(0, 204, 20, 1);
  --color-contour: rgba(0, 204, 20, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --mine-title-weight: 785;
    --mine-text-weight: 465;
    --mine-color: rgba(0, 204, 20, 1);
    --accent-color: rgba(0, 204, 20, 1);
    --bg-color: rgba(0, 0, 0, 1);
    --bg: repeating-linear-gradient(to right, #000 0 2px, transparent 2px 4px),
      repeating-linear-gradient(to bottom, #000 0 2px, transparent 2px 4px),
      linear-gradient(to bottom, #007f0c 0%, #004306 100%);
    --label-color: rgba(0, 204, 20, 1);
    --label-border: rgba(0, 0, 0, 1);
    --button-text: rgba(0, 204, 20, 1);
    --color-contour: rgba(0, 204, 20, 1);
  }
}
